<div class="container" id="dashboard-farmer">
  <% amount = 0 %>
  <div class="text-center">
    <h1><strong>Your Orders</strong></h1>
    <h3>These are your orderd items</h3>
  </div>
  <% @orders.each_with_index do |order, index| %>
    <% total_amount = 0 %>
    <div class="green-box">
      <h2>Order #<%= order.id%></h2>
      <% order.order_products.each do |order_product| %>
        <div class="d-flex product-box-dashboard mt-3">
          <div style="margin-right: 20px;">
             <%=  cl_image_tag(order_product.product.product_photo.key, width: 140, height:125, class: "product-image-dashboard")%>
          </div>
          <div class="">
            <p><%= order_product.product.name %></p>

            <p>Quantity: <%= order_product.amount %></p>

            <p>Price: <%= order_product.product.price %>€/per</p>
          </div>
        </div>

        <% amount = (order_product.product.price * order_product.amount) %>
        <% total_amount += amount %>
      <% end %>
      <div class="d-flex justify-content-center mt-4">
        <h2>Total <%= total_amount.round(2) %>0€</h2>
      </div>
    </div>
  <% end %>
</div>
