<div class="homepage-container">
  <h1 class="homepage-heading">Connect with farmers. Buy locally. Be sustainable.</h1>
  
  <!-- Bild -->
  <div class="image-container">
    <%= image_tag("markt_basket.png", alt: "Market Basket") %>
  </div>

  <!-- Formular -->
  <div class="form-container">
    <%= form_tag("/search", method: "get") do %>
      <div class="form-group">
        <%= label_tag(:postcode, "Postcode:", class: "form-label") %>
        <%= text_field_tag(:postcode, nil, class: "form-control") %>
      </div>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>