<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= form_with url: search_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "fillform-search",
              placeholder: "Find your Product!"
          %>
          </div>
          <div class="col-12">
        <%= submit_tag "Search", name: "", class: "btn btn-primary button" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="products" class="d-flex justify-content-between" style="flex-wrap: wrap;">
        <% if @products.any? %>
          <% @products.each do |product| %>
          <div class="card-farmer-search border p-3 position-relative product-card-search" style="margin-top: 20px;">

              <%# <div class="card-farmer border p-3 position-relative product-card"> %>
                <% if product.product_photo.present? %>
                  <%= cl_image_tag product.product_photo.key, alt: "#{product.name} Image", class: "card-product-img-search" %>
                <% end %>

                <div class="card-farmer-content-search">
                  <div class="card-farmer-details-search">
                    <p class="title"><i class="fas fa-tag"></i> <%= product.name %> <%= product.price.round(2) %>$</p>
                  </div>
                </div>
            <%# <img src="" alt="">
            <><%= product.product_photo %>
          </div>

          <% end %>
        <% else %>
          <em>Sorry, no products found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
