<div class="container">
 <div class="text-center">
  <h1 class="headermain">Our Farmers</h1>
  <p class="headerthree">Take a look at our local Growers</p>
  </div>

  <div class="row row-margin">
    <% @farmers.each_slice(2) do |farmer_group| %>
      <% farmer_group.each do |farmer| %>

        <div class="col-md-6 card-garden-col">
          <div class="card-farmer-index border p-3 position-relative">
            <% if farmer.main_photo.present? %>
              <%= cl_image_tag farmer.main_photo.key,  transformation: [{ gravity: "face"}], alt: "#{farmer.name} Image", class: "card-farmer-img-index" %>
              <% else %>
                <%= image_tag "nice_default_farmer.png", alt: "nice default farmer", class: "card-farmer-img-index" %>
            <% end %>
            <div class="card-farmer-content-index">
              <div class="text-center mb-1">
                <h2 class="title-farmer-index mb-0"><%= link_to "#{farmer.user.name}", farmer_path(farmer), class: "text-decoration-none -index text-dark-green-index headerthree" %></h2>
              </div>
              <div class="card-farmer-details-index">
                <p class="mb-2 text"><strong><%= farmer.title %></strong></p>
                <p class="mb-2 text"><i class="fa-solid fa-seedling"></i> <%= farmer.description_profile %></p>
                <p><i class="fas fa-map-marker-alt text"></i> <%= farmer.address %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br />
</div>
