<div class="container">
  <h1>Our Farmers</h1>
  <p>Take a look at our local Farmers</p>

  <div class="row row-margin">
    <% @farmers.each_slice(2) do |farmer_group| %>
      <% farmer_group.each do |farmer| %>

        <div class="col-md-6 card-garden-col">
          <div class="card-farmer border p-3 position-relative">
            <% if farmer.main_photo.present? %>
              <%= cl_image_tag farmer.main_photo.key, alt: "#{farmer.name} Image", class: "card-farmer-img" %>
            <% end %>

            <div class="card-farmer-content">
              <div class="text-center mb-1">
                <h2 class="title-farmer mb-0"><%= link_to "#{farmer.user.name}", farmer_path(farmer), class: "text-decoration-none font-enlarge text-dark-green" %></h2>
              </div>
              <div class="card-farmer-details">
                <p class="mb-2"><strong><%= farmer.title %></strong></p>
                <p class="mb-2"><i class="fa-solid fa-seedling"></i> <%= farmer.description_profile %></p>
                <p><i class="fas fa-map-marker-alt"></i> <%= farmer.address %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br />
</div>
