<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Create your farmer profile</h1>
    <%= simple_form_for(@farmer) do |f| %>
    <%= f.input :description_profile, label: 'Describe your farm in one sentence' %>
    <%= f.input :description_farm, label: 'Give a long description for your profile' %>
    <%= f.input :address %>
    <%= f.file_field :main_photo %>
    <p></p>
    <%= f.file_field :sub_photos, input_html: { multiple: true } %>
    <p></p>
    <%= f.submit "Create", id: "booking-button" %>
    <% end %>
  </div>
</div>
