<div class="text-center mt-4">
  <h1 class="font-enlarge-show"><%= @farmer.user.name %></h1>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @farmer.main_photo.present? %>
          <%= cl_image_tag @farmer.main_photo.key, alt: "#{@farmer.name} Image", class: "d-block w-100 farmer-photo" %>
        <% end %>
      </div>

      <% @farmer.sub_photos.each do |sub_photo| %>
        <div class="carousel-item">
          <%= cl_image_tag sub_photo.key, alt: "#{@farmer.name} Image", class: "d-block w-100 object-fit-cover farmer-photo" %>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="d-flex justify-content-center col-md-6 mb-2 mt-4">
      <div style="height: 150px; width: 100%"
            data-controller="map"
            data-map-markers-value="<%= [@geolocation_hash].to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>


 <div class="description-farm-show mb-2 mt-4">
    <p class="description-profile-show"><%= @farmer.description_farm %></p>
  </div>

<% if current_user %>
  <form action="/baskets/<%= @basket.id %>" method="patch">

    <div id="product-main" class="d-flex flex-wrap justify-content-around">
      <% @farmer.products.each do |product| %>
        <div class="card-farmer border p-3 position-relative product-card mb-4 mt-4">
          <% if product.product_photo.present? %>
            <%= cl_image_tag product.product_photo.key, alt: "#{product.name} Image", class: "card-product-img img-fluid" %>
          <% end %>

          <div class="card-farmer-content-show" data-controller="products">
            <div class="card-farmer-details-show">
              <p class="title mb-2"><i class="fas fa-tag"></i> <%= product.name %> <%= product.price.round(2) %>$</p>
              <input type="hidden" name="basket_product[][product_id]" value="<%= product.id%>">
              <div class="row justify-content-center mt-3 mb-3">

                <div class="col-auto">
                  <button type="button" class="btn btn-outline-secondary btn-sm smaller-btn rounded-circle" data-action="click->products#removeProduct">-</button>
                </div>

                <div class="col-auto">
                  <input type="number" id="basket_product[][amount]" value="0" data-products-target="input" class="form-control no-spin smaller-input" style="max-width: 30px;">
                </div>

                <div class="col-auto">
                  <button type="button" class="btn btn-outline-secondary btn-sm smaller-btn rounded-circle" data-action="click->products#addProduct">+</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="product-footer" class="fixed-bottom d-flex justify-content-center">
      <input type="submit" value="Add to Basket" class="btn btn-primary mx-auto my-4">
    </div>
  </form>ox
<% else %>
  <p>Log in to purchase items</p>
<% end %>

<%= simple_form_for(@chatroom) do |f| %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }%>
  <%= f.input :farmer_id, as: :hidden, input_html: { value: @farmer.id }%>
  <div class="d-flex justify-content-center fixed-bottom buttons-box">
    <%= button_tag type: 'submit', class: "mb-4 button-round" do %>
        <i id="chat-icon" class="fa-regular fa-comments"></i>
    <% end %>
  </div>
<% end %>
