<div class="text-center mt-4">
  <h1 class="font-enlarge"><%= @farmer.user.name %></h1>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @farmer.main_photo.present? %>
          <%= cl_image_tag @farmer.main_photo.key, alt: "#{@farmer.name} Image", class: "d-block w-100 farmer-photo" %>
        <% end %>
      </div>

      <% @farmer.sub_photos.each do |sub_photo| %>
        <div class="carousel-item">
          <%= cl_image_tag sub_photo.key, alt: "#{@farmer.name} Image", class: "d-block w-100 object-fit-cover farmer-photo" %>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="d-flex justify-content-center col-md-6 mb-2 mt-4">
      <div style="height: 150px; width: 100%"
           data-controller="map"
           data-map-markers-value="<%= [@geolocation_hash].to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

  <div class="description-farm mb-4 mt-4">
    <p class="description-profile"><%= @farmer.description_farm %></p>
  </div>

<% if current_user %>
    <form action="/baskets/<%= @basket.id %>" method="patch">
      <div class="d-flex flex-wrap justify-content-around mb-4">
        <% @farmer.products.each do |product| %>
          <div class="card-farmer border p-3 position-relative product-card mb-2 mt-3">
            <% if product.product_photo.present? %>
              <%= cl_image_tag product.product_photo.key, alt: "#{product.name} Image", class: "card-product-img img-fluid" %>
            <% end %>

            <div class="card-farmer-content">
              <div class="card-farmer-details">
                <p class="title"><i class="fas fa-tag"></i> <%= product.name %> <%= product.price.round(2) %>€</p>
                <input type="hidden" name="basket_product[][product_id]" value="<%= product.id%>">
                <input type="number" name="basket_product[][amount]" class="" value="0">
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <input type="submit" value="Add to Basket" class="btn btn-primary fixed-bottom mx-auto mb-4">
    </form>
    <%= simple_form_for(@chatroom) do |f| %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }%>
      <%= f.input :farmer_id, as: :hidden, input_html: { value: @farmer.id }%>
      <%= f.submit "Create chat", class: "btn btn-primary btn-block" %>
    <% end %>
  <% else %>
    <p>Log in to purchase items</p>
  <% end %>
</div>
